{% extends 'base.html' %}
{% load static %}

{% block title %}
   About Us
{% endblock title %}

{% block container %}

      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image" style="background-image: url('{% static 'images/bg-image-5.jpg' %}');">
        <div class="container">
          <h2 class="breadcrumbs-custom__title">О нас</h2>
          <ul class="breadcrumbs-custom__path">
                              <li><a href="{% url 'index' %}">Главная</a></li>
                              <li class="active">О нас</li>
                          </ul>
        </div>
      </section>
      <!-- Experience since 1999-->
      <section class="section section-md bg-default">
        <div class="container">
          <div class="row row-70 justify-content-md-center justify-content-xl-between">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h4>Опыт с 2005 года</h4>
              <p>Команда компании Metallex – квалифицированные специалисты с соответствующим образованием и опытом работы. У нас есть все необходимые знания технического профиля, чтобы эффективно выполнять поставленные задачи.</p>
              <h4>Наша цель</h4>
              <p>Нашей целью является переход на новый уровень взаимодействия с заказчиком. Мы стремимся создавать новые решения для каждой задачи с использованием качественных строительных материалов по доступным ценам.</p>
            </div>
            <div class="col-md-10 col-lg-6">
              <div class="row grid-2">
                <div class="col-6"><img src="{% static '/images/about-1-273x214.jpg' %}" alt="" width="273" height="214"/><img src="{% static '/images/about-2-273x214.jpg' %}" alt="" width="273" height="214"/>
                </div>
                <div class="col-6"><img src="{% static '/images/about-3-273x451.jpg' %}" alt="" width="273" height="451"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Top Management-->
      <section class="section section-md bg-gray-4">
        <div class="container">
          <!-- Section Header-->
          <div class="section__header">
            <h4>Руководители</h4>
            <div class="section__header-element"><a class="link-cta" href="{% url 'contacts' %}">Контакты</a></div>
          </div>
          <div class="row row-30">
            <div class="col-md-6 col-lg-4">
              <!-- Profile creative-->
              <article class="profile-creative">
                <div class="profile-creative__header"><img src="{% static 'images/top-management-1-115x119.jpg' %}" alt="" width="115" height="119"/>
                </div>
                <div class="profile-creative__main" data-fixed-height="">
                  <p class="profile-creative__title">Никита Рудаков</p>
                  <p class="profile-creative__subtitle">Директор</p>
                  <div class="profile-creative__element"><a href="mailto:info@metallex.ru">info@metallex.ru</a></div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Profile creative-->
              <article class="profile-creative">
                <div class="profile-creative__header"><img src="{% static 'images/top-management-2-115x119.jpg' %}" alt="" width="115" height="119"/>
                </div>
                <div class="profile-creative__main" data-fixed-height="">
                  <p class="profile-creative__title">Ирина Кучмар</p>
                  <p class="profile-creative__subtitle">Главный бухгалтер</p>
                  <div class="profile-creative__element"><a href="mailto:info@metallex.ru">info@metallex.ru</a></div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Profile creative-->
              <article class="profile-creative">
                <div class="profile-creative__header"><img src="{% static 'images/top-management-3-115x119.jpg' %}" alt="" width="115" height="119"/>
                </div>
                <div class="profile-creative__main" data-fixed-height="">
                  <p class="profile-creative__title">Богдан Свитин</p>
                  <p class="profile-creative__subtitle">Топ менеджер</p>
                  <div class="profile-creative__element"><a href="mailto:info@metallex.ru">info@metallex.ru</a></div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      {% endblock container %}
