<!DOCTYPE html>
{% load static %}
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>{% block title %}Home{% endblock title %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:400,500,700">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static '/images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!-- Page Loader-->
    <div class="preloader" id="preloader">
      <div class="page-loader-logo">
        <div class="brand">
          <div class="brand__name"><img src="{% static '/images/logo-default-380x100.png' %}" alt="" width="190" height="50"/>
          </div>
        </div>
      </div>
      <div class="page-loader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <header class="page-header section">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth" data-xxl-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px" data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a class="brand" href="{% url 'index' %}">
                      <div class="brand__name"><img src="{% static '/images/logo-default-380x100.png' %}" alt="" width="150" height="50"/>
                      </div></a></div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap">
                  <div class="row" style="color:#FF9A00">
                    {% if user.is_authenticated %}
                        <div class="col-12 col-md-2 item"></div>
                        <div class="col-12 col-md-10 item"><b>Баланс: {{ balance }} руб.</b></div>
                      {% if user.is_authenticated %}
                    <a class="btn btn-primary btn-sm ml-auto mr-auto" href="{% url 'balance_add' %}">Пополнить</a>
                      {% endif%}
                        <div class="col-12 col-md-2 item"></div>
                    {% else %}
                        <div class="col-12 col-md-2 item"></div>
                        <div class="col-12 col-md-10 item"><b>Баланс: {{ balance }}</b></div>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-sm ml-auto mr-auto" href="{% url 'balance_add' %}">Пополнить</a>
                    {% endif%}
                        <div class="col-12 col-md-2 item"></div>
                    {% endif %}
                  </div>
                  <a class="button button-xs button-lighter" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Log In/Register
                    {% endif %}
                    <i class="rd-navbar-nav-wrap"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                    <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/">Главная</a>
                    </li>
                    <li><a href="{% url 'shop' %}">Товары</a>
                    </li>
                    <li><a href="{% url 'cart_view' %}">Корзина</a>
                    </li>
                    <li><a href="{% url 'contacts' %}">Контакты</a>
                    </li>
                    <li><a href="{% url 'about_us' %}">О нас</a>
                    </li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'fill_database' %}">Наполнитель</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
  {% block container %}

  {% endblock container %}
      <!-- Page Footer-->
      <footer class="footer-classic bg-gray-8">
        <div class="container">
          <div class="footer-classic__main">
            <ul class="list-nav-bordered">
              <li><a href="{% url 'index' %}">Главная</a></li>
              <li><a href="{% url 'shop' %}">Товары</a></li>
              <li><a href="{% url 'cart_view' %}">Корзина</a></li>
              <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
          </div>
          <div class="divider"></div>
          <div class="footer-classic__aside">
            <div class="row row-20">
              <div class="col-md-6 text-md-left">
                <!-- Rights-->
                <p class="rights"><span>Metallex</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span>. Все права защищены. <a href="https://t.me/desorr1"> Создано здесь.</a></p>
              </div>
              <div class="col-md-6 text-md-right">
                <ul class="list-inline-xxs">
                  <li>
                    <p>Подписывайтесь</p>
                  </li>
                  <li><a class="icon icon-xs icon-style-modern fa fa-telegram" href="https://t.me/desorr1"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static '/js/core.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>