{% extends 'base.html' %}
{% load static %}

{% block title %}

    Contacts

{% endblock title %}

{% block container %}
      <!-- Breadcrumbs-->
      <section class="breadcrumbs-custom bg-image" style="background-image: url('{% static 'images/bg-image-4.jpg' %}');">
        <div class="container">
          <h2 class="breadcrumbs-custom__title">Контакты</h2>
          <ul class="breadcrumbs-custom__path">
                              <li><a href="{% url 'index' %}">Главная</a></li>
                              <li class="active">Контакты</li>
                          </ul>
        </div>
      </section>
      <!-- Get in Touch-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="layout-bordered">
            <div class="layout-bordered__main text-center">
              <div class="layout-bordered__main-inner">
                <h3>Связаться с нами</h3>
                <p>Мы доступны 24/7 по электронной почте или по телефону. Вы также можете использовать нашу форму быстрой связи, чтобы задать вопрос о наших товарах и услугах.</p>
                <!-- RD Mailform-->
                <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="row align-items-md-end row-20">
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-first-name" type="text" name="first-name" data-constraints="@Required">
                        <label class="form-label" for="contact-first-name">Имя</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                        <label class="form-label" for="contact-phone">Телефон</label>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-wrap">
                        <label class="form-label" for="contact-message">Сообщение</label>
                        <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-wrap">
                        <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="contact-email">E-mail</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <button class="button button-block button-primary" type="submit">Отправить</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="layout-bordered__aside">
              <div class="layout-bordered__aside-item">
                <p class="heading-8">Соц.связь</p>
                <ul class="list-inline-xs">
                  <li><a class="icon icon-sm icon-default fa fa-telegram" href="https://t.me/desorr1"></a></li>
                </ul>
              </div>
              <div class="layout-bordered__aside-item">
                <p class="heading-8">Телефон</p>
                <div class="unit flex-row unit-spacing-xxs">
                  <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-local_phone"></span></div>
                  <div class="unit__body">7-423-2497777</div>
                </div>
              </div>
              <div class="layout-bordered__aside-item">
                <p class="heading-8">E-mail</p>
                <div class="unit flex-row unit-spacing-xxs">
                  <div class="unit__left"><span class="icon icon-sm icon-primary mdi mdi-email-outline"></span></div>
                  <div class="unit__body"><a href="mailto:info@metallex.ru">info@metallex.ru</a></div>
                </div>
              </div>
              <div class="layout-bordered__aside-item">
                <p class="heading-8">Адрес</p>
                <div class="unit flex-row unit-spacing-xxs">
                  <div class="unit__left"><span class="icon icon-sm icon-primary material-icons-location_on"></span></div>
                  <div class="unit__body">РФ, г.Краснодар<br> Пушкина 15А, 222040</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock container %}
